body {
   background: rgb(0, 191, 255);
   color: rgb(255, 255, 255);
}

h10 {
  font-size: 40px;
  color: #005CB9;
}

h11 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

body {
  font-size: 20px;
  
}


 
h5 {
  font-size: 20px;
}
